<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">Hola！</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;">Usted está vinculando su cuenta de Brasil TV! La cuenta predeterminada es:</td>
    </tr>
    <tr style="color: #626263;">
      <td>XXXXXXX</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Por favor, haga clic en el enlace de abajo para activar su correo electrónico y
        establecer una contraseña para completar la conexión: </td>
    </tr>
    <tr style="color: #626263;">
      <td>
        <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;line-height: 20px;">Atención, tenga en cuenta que este enlace es válido por sólo 24
        horas. Complete la conexión para iniciar sesión en otros dispositivos mediante el número de su cuenta o su
        correo electrónico.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;">Por favor, póngase en contacto con el servicio al cliente brasiltv4k@gmail.com</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">Está recibiendo este correo electrónico porque recientemente creó
        una nueva cuenta de Brasil TV o agregó una nueva
        dirección de correo electrónico. Si no fuiste tú, ignora este correo electrónico.
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Sinceramente,</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 20px;">
        <hr style="background: #ccc;border-color: #fff;" />
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px; text-align: center">
        <a id="text" href="http://www.baidu.com">Política de privacidad</a>
      </td>
    </tr>
  </table>
</body>

</html>
