<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">Olá!</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;line-height: 20px;">Você está vinculando sua conta do Brasil TV! Sua conta: XXXXXX.
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;line-height: 20px;">O seu código de verificação: <strong
          style="color:#333; font-size: 16px;">XXXXXX</strong></td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">No caso de dúvidas, entre em contato com o atendimento ao
        cliente: brasiltvmobil@gmail.com
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">Você recebeu esse email porque recentemente tentou vincular este
        email no Brasil TV. Se não foi você, ignore este e-mail.
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Sinceramente,</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 20px;">
        <hr style="background: #ccc;border-color: #fff;" />
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px; text-align: center">
        <a id="text" href="http://www.baidu.com">Termos e Política de Privacidade</a>
      </td>
    </tr>
  </table>
</body>

</html>
