<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">Hi！</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;">You are trying to link to a Brasil TV account, the default account is:</td>
    </tr>
    <tr style="color: #626263;">
      <td>XXXXXXX</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Please click on the link below to activate your email and set a password to
        complete the connection：</td>
    </tr>
    <tr style="color: #626263;">
      <td>
        <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;">Please contact customer service brasiltv4k@gmail.com</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">You’re receiving this email because you recently created a new
        Brasil TV account or added a new email address. If this wasn’t you, please ignore this email.
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">Attention please: this link is valid for 24 hours
        only. Complete a connection to sign in to other formats using your account number or your email.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Sincerey,</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 20px;">
        <hr style="background: #ccc;border-color: #fff;" />
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px; text-align: center">
        <a id="text" href="http://www.baidu.com">Privacy policy</a>
      </td>
    </tr>
  </table>
</body>

</html>
