<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">您好！</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;">您正在绑定Brasil TV的账号！默认账号为: </td>
    </tr>
    <tr style="color: #626263;">
      <td>XXXXXXX</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">请点击以下链接激活邮箱并设置密码完成绑定：</td>
    </tr>
    <tr style="color: #626263;">
      <td>
        <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;line-height: 20px;">请注意，该链接仅在24小时内有效。完成绑定可使用默认账号或邮箱账号在其他设备上进行登录。</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;">如有疑问，请联系客服 brasiltv4k@gmail.com</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">您收到此电子邮件是因为您最近创建了一个新的Brasil TV帐户或添加了一个新的电子邮件地址。 如果不是您，请忽略此电子邮件。
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">真诚地,</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 20px;">
        <hr style="background: #ccc;border-color: #fff;" />
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px; text-align: center">
        <a id="text" href="http://www.baidu.com">隐私政策</a>
      </td>
    </tr>
  </table>
</body>

</html>
