<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>
<!--<script type="text/javascript">-->
<!--function copyText() {-->
<!--var text = document.getElementById("text").innerText;-->
<!--var input = document.getElementById("input");-->
<!--input.value = text; // 修改文本框的内容-->
<!--input.select(); // 选中文本-->
<!--document.execCommand("copy"); // 执行浏览器复制命令-->
<!--}-->
<!--</script>-->

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">Hello！</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;">Welcome to purchase Brasil TV.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Your account is: xxxxxxxxxxx</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Please click the following link to purchase your package：</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">
        <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 5px;line-height: 20px;">Please exit the app and re-enter after the purchase is complete.
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;">Any questions, please contact: brasiltv4k@gmail.com </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Sincerely</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
  </table>
</body>

</html>
