<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">您好！</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;">欢迎您购买Brasil TV 的服务.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">您的账号是：XXXXXXXXX</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">请点击以下链接支付套餐：</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">
        <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 5px;line-height: 20px;">购买完成后请退出App重新进入。</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;">如有疑问请联系：brasiltv4k@gmail.com </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">真诚地</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
  </table>
</body>

</html>
