<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="color: #626263;">
      <td style="padding-top: 24px;line-height: 20px;">Account：XXXXXX </td>
    </tr>
    <tr style="color: #626263;">
      <td>Contact: XXXXXX@gmail.com</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">Feedback Time：2020-03-18 02:03:00
      </td>
    </tr>
    <tr style="color: #626263;">
      <td>Feedback content:</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">XXXXXXXX
      </td>
    </tr>
  </table>
</body>

</html>
