<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">Olá!</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;">Você está recuperando a senha de conta do Brasil TV! A conta padrão é:</td>
    </tr>
    <tr style="color: #626263;">
      <td>XXXXXXXXXX</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Clique o link abaixo para recuperar senha：</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 20px;">
        <a id="text" target="_blank" href="http://www.baidu.com">http: //www.baidu.com</a>
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 5px;line-height: 20px;">Atenção, note que esse link é válido por apenas 24 horas.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Por favor entre em contato com o atendimento ao cliente.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">brasiltv4k@gmail.com</td>
    </tr>
    <tr style="color: #626263;">
      <td>Atenciosamente,</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
  </table>
</body>

</html>
