<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">¡Hola!</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;">Usted está recuperando la contraseña de cuenta de Brasil TV! La cuenta
        predeterminada es: </td>
    </tr>
    <tr style="color: #626263;">
      <td>XXXXXXXXXX</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Haga clic en el siguiente enlace para recuperar la contraseña：</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 20px;">
        <a id="text" target="_blank" href="http://www.baidu.com">http: //www.baidu.com</a>
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 5px;line-height: 20px;">Atención, tenga en cuenta que este enlace es válido por sólo 24
        horas.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Por favor, póngase en contacto con el servicio al cliente.</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">brasiltv4k@gmail.com</td>
    </tr>
    <tr style="color: #626263;">
      <td>Sinceramente,</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
  </table>
</body>

</html>
