<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>email</title>
</head>
<style>
  @media screen and (min-width: 600px) {
    .email {
      display: inline-block !important;
    }
  }

</style>

<body>
  <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
    <tr style="font-weight: bold;">
      <td style="padding-top: 25px;">Hello!</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 24px;line-height: 20px;">You are recovering your Brasil TV account password! Account
        number：XXXXXX. </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;line-height: 20px;">Your verification code: <strong
          style="color:#333; font-size: 16px;">XXXXXX</strong></td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;">If you have any questions, please contact customer service:
        brasiltvmobil@gmail.com</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 22px;line-height: 20px;">You received this e-mail because you tried to recover the
        password associated to this e-mail for the BrasilTV, if wasn't you, ignore this message.
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 30px;">Sincerely,</td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px;">Brasil TV</td>
    </tr>
    <tr style="color: #626263;">
      <td style="padding-top: 20px;">
        <hr style="background: #ccc;border-color: #fff;" />
      </td>
    </tr>
    <tr style="color: #626263;">
      <td style="line-height: 20px; text-align: center">
        <a id="text" href="http://www.baidu.com">Privacy policy</a>
      </td>
    </tr>
  </table>
</body>

</html>
