<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>email</title>
</head>
<style>
    @media screen and (min-width: 600px) {
        .email {
            display: inline-block !important;
        }
    }
</style>
<body>
    <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
        <tr style="font-weight: bold;">
            <td style="padding-top: 25px;">您好！</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 24px;">感谢您注册Brasil TV</td>
        </tr>
        <tr style="color: #626263;">
            <td style="line-height: 20px;">请点击以下链接完成注册：</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 30px;">
                <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
            </td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 5px;line-height: 20px;">请注意，该链接仅在24小时内有效。注册完成后，将送您3天免费试用期.</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 22px;">如有疑问请联系：service_abs_1231@outlook.com </td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 30px;">Sincerey,</td>
        </tr>
        <tr style="color: #626263;">
            <td style="line-height: 20px;">Brasil TV</td>
        </tr>
    </table>
</body>

</html>
