<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>email</title>
</head>
<style>
    @media screen and (min-width: 600px) {
        .email {
            display: inline-block !important;
        }
    }
</style>
<body>
    <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
        <tr style="font-weight: bold;">
            <td style="padding-top: 25px;">Olá!</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 24px;">Obrigado por se registrar no Brasil TV.</td>
        </tr>
        <tr style="color: #626263;">
            <td style="line-height: 20px;">Por favor click no link abaixo para completar seu registro：</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 30px;">
                <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
            </td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 5px;line-height: 20px;">O link é válido apenas por 24 horas. Depois de se registrar poderá testar
                gratuituitamente por 3 dias..</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 22px;">Qualquer dúvida entre em contato com o: service_abs_1231@outlook.com </td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 30px;">Sincerey,</td>
        </tr>
        <tr style="color: #626263;">
            <td style="line-height: 20px;">Brasil TV</td>
        </tr>
    </table>
</body>

</html>
