<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>email</title>
</head>
<style>
    @media screen and (min-width: 600px) {
        .email {
            display: inline-block !important;
        }
    }
</style>
<script type="text/javascript">
    function copyText() {
      var text = document.getElementById("text").innerText;
      var input = document.getElementById("input");
      input.value = text; // 修改文本框的内容
      input.select(); // 选中文本
      document.execCommand("copy"); // 执行浏览器复制命令
    }

  </script>
<body>
    <table style="max-width: 600px;width: 95%;margin: 0 auto;font-size: 12px;">
        <tr style="font-weight: bold;">
            <td style="padding-top: 25px;">您好！</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 24px;">您正在找回Brasil TV 账号的密码.</td>
        </tr>
        <tr style="color: #626263;">
            <td style="line-height: 20px;">请点击以下链接找回密码：</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 30px;">
                <a id="text" href="http://www.baidu.com">http: //www.baidu.com</a>
                <span onclick="copyText()" style="display: inline-block;background-color: #e5e5e5;color: #ffffff;padding: 5px 16px;margin-left: 5px;border-radius: 3px;">复制</span>
                <textarea id="input" style="opacity: 0;display: block">这是幕后黑手</textarea>
            </td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 5px;line-height: 20px;">请注意，该链接仅在24小时内有效.</td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 22px;">如有疑问请联系：service_abs_1231@outlook.com </td>
        </tr>
        <tr style="color: #626263;">
            <td style="padding-top: 30px;">Sincerey,</td>
        </tr>
        <tr style="color: #626263;">
            <td style="line-height: 20px;">Brasil TV</td>
        </tr>
    </table>
</body>

</html>
